<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{ title }}</title>
  <link href="css/index.css" rel="stylesheet">
  <link href="lib/fontello/css/fontello.css" rel="stylesheet">
</head>
<body>
  {% include "partials/header.html" %}
  <main>
    {% include "partials/lead.html" %}
    {% include "partials/experience.html" %}
    {% include "partials/projects.html" %}
    {% include "partials/about.html" %}
  </main>
  {% include "partials/footer.html" %}
  <script src="js/index.js"></script>
</body>
</html>
