<div class="container">
  <h2>Testimonials</h2>
  {% for testimonial in testimonials %}
    <blockquote class="testimonial">
      <p>“{{ testimonial.quote }}”</p>
      <cite title="{{ testimonial.name }}">
        {{ testimonial.name }}
        {% if testimonial.title %}
          ({{ testimonial.title }})
        {% endif %}
      </cite>
    </blockquote>
  {% endfor %}
  <div class='contact'>
    <h2>Contact</h2>
    <p class='contact__msg'>I'm currently available for freelance projects or full-time work. If you're interested in working with me, please get in touch through <a href='mailto:{{email}}'>{{ email }}</a>.
  </div>
</div>
