$mobile: "(min-width: 460px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

$main-color: #f04;
$main-text-color: #fff;

$info-color: $main-color;
$info-text-color: white;

$tag-color: #eceff5;

$muted-color: #eaeaea;
$footer-color: black;
$footer-text-color: white;
$footer-alt-color: $main-color;
